{% extends 'base.html' %}
{% load static %}

{% block title %}{{ request.user.first_name }} {{ request.user.last_name }}'s profile{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-4 mb-1">
            <div class="user-logo">
                <img class="image" src="{{ request.user.avatar.url }}">
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="d-flex justify-content-between">
                <h1 class="display-6">{{ request.user.username }}</h1>
                <a type="button" class="btn btn-light border border-black w-75 py-3 fw-bold">Edit profile</a>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <span class="me-1">{{ request.user.publications }} publications</span>
                <span class="me-1">{{ request.user.subscriptions }} subscriptions</span>
                <span>{{ request.user.subscribers }} subscribers</span>
            </div>
            <p class="fw-bold">{{ request.user.last_name }} {{ request.user.first_name }}</p>
            <p>{{ request.user.bio }}</p>
        </div>
    </div>
    <hr>
    <p>There will be publications</p>
{% endblock %}
