{% extends 'base.html' %}
{% load static %}

{% block title %}{{ request.user.first_name }} {{ request.user.last_name }}'s profile{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-4 mb-1">
            <div class="user-logo">
                {% if user_obj.avatar %}
                    <img class="image" src="{{ user_obj.avatar.url }}">
                {% else %}
                    <span>No avatar</span>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="d-flex justify-content-between mb-2">
                <h1 class="display-6 me-1">{{ user_obj.username }}</h1>
                {% if request.user.is_authenticated and request.user == user_obj %}
                    <a type="button" class="btn btn-light border border-black w-75 py-3 fw-bold me-1" href="{% url 'accounts:edit_profile' pk=request.user.pk %}">Edit profile</a>
                    <a type="button" class="btn btn-light border border-black w-75 py-3 fw-bold" href="{% url 'accounts:user_password_change' request.user.pk %}">Change password</a>
                {% endif %}
            </div>
            <div class="d-flex justify-content-between mb-2">
                <span class="me-1">{{ user_obj.publications_count }} publications</span>
                <span class="me-1">{{ user_obj.subscriptions }} subscriptions</span>
                <span>{{ user_obj.subscribers }} subscribers</span>
            </div>
            <p class="fw-bold">{{ user_obj.last_name }} {{ user_obj.first_name }}</p>
            <p>{{ user_obj.bio }}</p>
        </div>
    </div>
    <hr>
     <div class="row row-cols-1 row-cols-md-3 publications">
        {% for publication in publications %}
            {% include 'partial/publications.html' %}
        {% endfor %}
         <div class="col align-self-stretch">
            <div class="card">
                <a href="{% url 'webapp:new_publication' %}" class="m-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
